<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-image">
            <img src="{{asset("uploads/default/Finca.jpg")}}">
            <a href="{{ path('property_show', {id: property.id, slug: property.slug}) }}" class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
            <h3 class="card-title truncate">
                <a class="title-property"
                    href="{{ path('property_show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
            </h3>

            <div class="row">
                <span class="subtitle">{{ property.city }} ({{ property.postalCode }})</span>
               
            </div>
            <div class="row">
                <span class="price teal-text col l6 right">{{ property.formattedPrice }} €</span>
            </div>
          

        </div>
    </div>
</div>