<div class="card small">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{path('property_show', {slug: property.slug, id: property.id})}}"> {{property.title}}</a>
        </h5>
        <p class="card-text">
            {{property.surface}} m² - {{property.city}} ({{property.postalCode}})</p>
        <div>
            {{property.formattedPrice}} €
        </div>
    </div>
</div>