<div class="col s12 m6 l4">
    <div class="card hoverable">
        <div class="card-image">
            {% if property.images[0].imgPath is defined %}
            <img src="{{asset("uploads/images/" ~ property.images[0].imgPath) | imagine_filter('landscape_show') }}">
            {% else %}
            <img src="{{asset("uploads/images/default/Finca.jpg") | imagine_filter('landscape_show')}}">
            {% endif %}
            <a href="{{ path('property_show', {id: property.id, slug: property.slug}) }}"
                class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
            <h3 class="card-title truncate">
                <a class="title-property"
                    href="{{ path('property_show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
            </h3>

            <div class="row">
                <span class="subtitle">{{ property.city }} ({{ property.postalCode }})</span>

            </div>
            <div class="row">
                <span class="price light-blue-text text-darken-1 col l6">{{ property.formattedPrice }} €</span>
            </div>
        </div>
    </div>
</div>