{% extends 'base.html.twig' %}

{% block title %} {{parent()}}-Tous nos biens{% endblock %}

{% block body %}

<div class="container">
    <h1>Les biens en vente</h1>
    <div class="row">
        {% for property in properties %}

        <div class="col l4">
            {{ include('property/_property.html.twig') }}
        </div>
        {#  <a href="{{ path('property_show', {'id': property.id, slug: property.slug}) }}">show</a>
                      <a href="{{ path('admin_property_edit', {'id': property.id, slug: property.slug}) }}">edit</a> #}
        {% else %}
        <p>no records found</p>
        {% endfor %}
    </div>
    <div class="row">
        <div class="navigation col s12 l6 offset-l4">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
    {# <a href="{{ path('property_new') }}">Create new</a> #}
</div>

{% endblock %}