{% extends 'base.html.twig' %}

{% block title %} {{parent()}}-Tous nos biens{% endblock %}

{% block body %}

<div class="container">
    <h1>Les biens en vente</h1>
    <div class="row">
        <div class="card-panel {# teal lighten-4 #}">
            <div class="row">
                <div class="container ">
                    <div class="row ">
                        <div class="col m6"></div>
                        <div class="col s12 m8 ">
                           {{form_start(form)}}
                           <div class="row">
                               <div class="col l4">
                                   {{form_row(form.minSurface)}}
                               </div>
                               <div class="col l4">
                                {{form_row(form.maxPrice)}}
                               </div>
                           {#     {{form_reset(form)}} #}
                               <div class="col l4">
                                   <button class="btn">Rechercher
                                   </button>
                               </div>
                           </div>
                           {{form_end(form)}}
                        </div>
                    </div>
    
                </div>
    
            </div>
    
        </div>
    </div>
    <div class="row">
        {% for property in properties %}

        <div class="col l4">
            {{ include('property/_property.html.twig') }}
        </div>
        {#  <a href="{{ path('property_show', {'id': property.id, slug: property.slug}) }}">show</a>
                      <a href="{{ path('admin_property_edit', {'id': property.id, slug: property.slug}) }}">edit</a> #}
        {% else %}
        <p>no records found</p>
        {% endfor %}
    </div>
    <div class="row">
        <div class="navigation col s12 l6 offset-l4">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
    {# <a href="{{ path('property_new') }}">Create new</a> #}
</div>

{% endblock %}