{% extends 'base.html.twig' %}

{% block title %}{{parent()}}- {{property.title}}{% endblock %}

{% block body %}
<div class="row">
    <div class="card-panel teal lighten-4">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col m6"></div>
                    <div class="col s12 m6">
                        <h1>{{property.title}}</h1>
                        <h2>{{property.rooms}} pièces - {{property.surface}} m²</h2>
                        <h2>{{property.formattedPrice}} €</h2>
                        <a href="{{ path('property_show', {id: property.id, slug: property.slug}) }}"
                            class="waves-effect waves-light btn"><i class="material-icons left">phone</i>Contacter
                            l'agence</a>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<div class="container">
    <!-- Page Content goes here -->
    <div class="collection">
        <p class="collection-item">{{ property.description | nl2br}}</p>
        <a href="#!" class="collection-item active">Alvin</a>
        <a href="#!" class="collection-item">Alvin</a>
        <a href="#!" class="collection-item">Alvin</a>
    </div>
    <div class="row">
        <div class="col l6">
            <h2>Caractéristiques</h2>
            <table class="table striped">
                <tbody>
                    <tr>
                        <th class="teal-text">Nom</th>
                        <td>{{ property.title }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Description</th>
                        <td>{{ property.description }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Surface habitable</th>
                        <td>{{ property.surface }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Pièces</th>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Chambres</th>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Étage</th>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Prix</th>
                        <td>{{ property.price }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Chauffage</th>
                        <td>{{ property.heatType }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Ville</th>
                        <td>{{ property.city }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Adresse</th>
                        <td>{{ property.address }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Code postal</th>
                        <td>{{ property.postalCode }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Is_sold</th>
                        <td>{{ property.isSold ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Created_at</th>
                        <td>{{ property.createdAt ? property.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Updated_at</th>
                        <td>{{ property.updatedAt ? property.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col l6">
            <h2>Spécifités</h2>
            <table class="table striped">
                <tbody>
                    {% for option in options %}
                    <tr>
                        <th class="teal-text">{{option.name}}</th>
                        <td>
                            <i class="material-icons">check</i>
                        </td>
                    </tr>{% else %}
                    <tr>
                        <th class="teal-text"> Cette propriété n'a pas des options</th>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}