{% extends 'base.html.twig' %}

{% block title %}{{parent()}}- {{property.title}}{% endblock %}

{% block body %}
<div class="row">
    <div class="card-panel light-blue lighten-5">
        {% if is_granted("ROLE_ADMIN") %}
        <a href="{{path('admin_property_edit', {id: property.id, slug: property.slug }) }}" class="btn grey darken-4"><i
                class="material-icons left">settings</i>Modifier</a>
        {% endif %}

        <div class="row">
            <div class="col s12 l6">
                <img class="col s12 l12" src="{{asset("uploads/default/Finca.jpg")}}">
            </div>
            <div class="col s12 l6 offset">
                <div class="row">
                    <h1>{{property.title}}</h1>
                    <h3 class="subtitle-show">{{property.rooms}} pièces - {{property.surface}} m²</h3>
                    <h3 class="price-show">{{property.formattedPrice}} €</h3>
                </div>

                <div class="row">
                    <div class="row">
                        <div class="col s12 l4">
                            <div class="row">
                                <a href="tel:+330102030405" class="waves-effect waves-light btn-large col s12 l11"><i
                                        class="material-icons left">phone</i>Appelez-nous</a>
                            </div>
                        </div>
                        <div class="col s12 l4">
                            <div class="row">
                                <a href="mailto:goldenhouse@mail.com"
                                    class="waves-effect waves-light btn-large col s12 l11"><i
                                        class="material-icons left">email</i>Écrivez-nous</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 l12">
            <div class="row">
                <h5 class="col s12">Description</h5>
            </div>

            <p>{{ property.description }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 l6">
            <div class="row">
                <h5 class="col s12">Caractéristiques</h5>
            </div>

            <table class="table striped">
                <tbody>
                    <tr>
                        <th class="teal-text">Nom</th>
                        <td>{{ property.title }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Surface habitable</th>
                        <td>{{ property.surface }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Pièces</th>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Chambres</th>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Étage</th>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Prix</th>
                        <td>{{ property.formattedPrice }} €</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Chauffage</th>
                        <td>{{ property.heatType }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Ville</th>
                        <td>{{ property.city }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Adresse</th>
                        <td>{{ property.address }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Code postal</th>
                        <td>{{ property.postalCode }}</td>
                    </tr>
                    <tr>
                        <th class="teal-text">Publié le</th>
                        <td>{{ property.createdAt ? property.createdAt|format_datetime('full', 'none', locale='fr') |default('') }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <div class="row">
                    <h5 class="col s12">Spécifités</h5>
                </div>

                <table class="table striped">
                    <tbody>
                        {% for option in options %}
                        <tr>
                            <th class="teal-text">{{option.name}}</th>
                            <td>
                                <i class="material-icons">check</i>
                            </td>
                        </tr>{% else %}
                        <tr>
                            <th class="teal-text"> Cette propriété n'a pas des options</th>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}