<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Golden House Real Estate{% endblock %}</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap"
        rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{asset("css/base.css")}}">
    {% endblock %}
</head>

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
{% for message in messages %}

<body onload="M.toast({html: '{{message}}', classes: '{{label}}'})">
    {% endfor %}
    {% endfor %}
    <div class="navbar-fixed">
        <nav class="nav-extended">
            {% if app.user %}
            <div class="nav-wrapper grey darken-4">
                {% else %}
                <div class="nav-wrapper light-blue darken-4">
                    {% endif %}

                    <a href="{{path('home')}}" id="logo" class="brand-logo right">Golden House</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="{{path('property_index')}}">Nos biens à vendre</a></li>
                        {% if app.user %}
                        <li class="active"><a href="{{path('admin_property_index')}}">Lister tous les biens</a></li>
                        <li class="active"><a href="{{path('admin_property_new')}}">Ajouter un bien</a></li>
                        <li class="active"><a href="{{path('app_logout')}}">Se déconnecter</a></li>
                        {% else %}
                        <li><a href="{{path('app_login')}}">Se connecter</a></li>
                        {% endif %}

                    </ul>
                </div>
        </nav>
    </div>

    <ul class="sidenav grey lighten-5" id="mobile-demo">
        <li><a class="black-text" href="{{path('property_index')}}">Tous les biens</a></li>

        {% if app.user %}
        <li class="divider"></li>
        <li><a class="black-text" href="{{path('admin_property_index')}}">Lister tous les biens</a></li>
        <li class="divider"></li>
        <li><a class="black-text" href="{{path('admin_property_new')}}">Ajouter un bien</a></li>
        <li class="divider"></li>
        <li><a class="black-text" href="{{path('app_logout')}}">Se déconnecter</a></li>
        {% else %}
        <li class="divider"></li>
        <li><a class="black-text" href="{{path('app_login')}}">Se connecter</a></li>
        {% endif %}
    </ul>
    {% block body %}{% endblock %}
    {% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });

        //images slider
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems, {indicators: true});
          });
        
        var instance = M.Carousel.init({
            fullWidth: true
          });

    </script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% endblock %}
</body>

</html>